.main {
  min-height: calc(100vh - 140px);
  padding: 40px 24px;
  border-radius: 12px;
  background-color: var(--light-color);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
  color: var(--gray-color);

  strong {
    color: var(--primary-color);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}
