.button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px; /* Ajustado para seu padrão */
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
  }
}

/*.primary {
  background: linear-gradient(135deg, #714797, #5d2691);
  color: white;
  box-shadow: 0 8px 24px rgba(113, 71, 151, 0.4);

  &:hover:not(:disabled) {
    background: linear-gradient(135deg, #5d2691, #4a1f6b);
    box-shadow: 0 12px 32px rgba(113, 71, 151, 0.6);
  }
}
*/

.primary {
  background: linear-gradient(135deg, #0597b4, #0277a1, #037c5e);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(122, 79, 237, 0.5);
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(135deg, #06a9c9, #03819f, #029164);

    box-shadow: 0 12px 32px rgba(4, 159, 200, 0.8);
    transform: translateY(-3px) scale(1.05);
  }

  &:active {
    transform: translateY(-1px) scale(0.98);
  }
}

.secondary {
  background: linear-gradient(135deg, #9f7aea, #7c3aed);
  color: white;
  box-shadow: 0 8px 20px rgba(124, 58, 237, 0.4);

  &:hover:not(:disabled) {
    background: linear-gradient(135deg, #7c3aed, #5b21b6);
    box-shadow: 0 12px 28px rgba(124, 58, 237, 0.6);
  }
}

.success {
  background-color: #10b981;
  color: white;

  &:hover:not(:disabled) {
    background-color: #059669;
  }
}

.danger {
  background-color: #ef4444;
  color: white;

  &:hover:not(:disabled) {
    background-color: #dc2626;
  }
}

.outline {
  background-color: transparent;
  border: 2px solid #714797;
  color: #714797;
  box-shadow: none;

  &:hover:not(:disabled) {
    background-color: #714797;
    color: white;
    box-shadow: 0 8px 24px rgba(113, 71, 151, 0.4);
  }
}

.small {
  padding: 8px 16px;
  font-size: 13px;
}

.medium {
  padding: 10px 20px;
  font-size: 14px;
}

.large {
  padding: 12px 24px;
  font-size: 16px;
}

.fullWidth {
  width: 100%;
}
