.main {
  //padding: 24px;

  min-height: calc(100vh - 140px);
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 50%, #29abe2 100%);
  max-width: 1400px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 40px 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 16px;
}

.filterBar {
  display: flex;
  gap: 12px;
  color: #fff;
  align-items: center;
  margin-bottom: 16px;

  select {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
  }
}

.filterBar input[type="date"] {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.tableWrap {
  overflow-x: auto;
  background: linear-gradient(90deg, #f1c0c0, #e5eaf0, #b5d1ec);
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.ua {
  max-width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
